body{
    background-color: rgb(247, 229, 236);
}

.login-page{
    width: 400px;
    margin: auto;
    position: relative;
}

.form{
    position: absolute;
    z-index: 1;
    background-color: #ffffff;
    max-width: 360px;
    margin: 60px auto 100px;
    padding: 40px;
   
}

.form input{
   font-family: "Roboto", sans-serif;
   outline: 1;
   background: #ffffff;
   width: 100%;
   border: 1;
   border-radius: 5px;
   margin: 0 0 15px;
   padding: 15px;
   box-sizing: border-box;
   font-size: 15px;
}

input[name="button"]{
    background-color: darkgreen;
    width: 100%;
    padding: 15px;
    cursor: pointer;
}

.fundooImage{
    width: 100px;
    height: 50px;
    margin-left: 30%;
    padding-bottom:5%;
}

.form input[name="button"]:hover,.form input[name="button"]:active{
    background: #43A047;
}

.form i{
    margin-left: -30px;
    cursor: pointer;
}

.fa{
    position: absolute;
    cursor: pointer;
    color: #999;
    bottom: 190px;
    left: 350px;
}

.fa.active{
    color: midnightblue;
}

#nameerror{
    color: red;
    font-style: bold;
    margin-top: 2px;
}

#emailerror{
    color: red;
    font-style: bold;
}

#passworderror{
    color: red;
    font-style: bold;
}

.message{
    text-align: center;
}

